@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.courses-list {
  margin: calcRem(20) 0;
  grid-column-end: span 4;

  .header {
    display: flex;
    margin-bottom: calcRem(20);
  }

  .header-title {
    font-weight: bold;
    font-size: calcRem(20);
    padding-left: calcRem(20);
    line-height: 100%;
  }

  .sort-container {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    padding-right: calcRem(10);
    font-size: calcRem(12);
    color: lighten($base-text-color, 30%);

    span {
      margin: calcRem(9) calcRem(10) 0 calcRem(10);
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    select {
      min-width: 9rem;
      margin: auto;
      padding: calcRem(5);
      border: 2px solid #b9c6d4;
      color: #2C2A2F;
      background-color: white;
      text-transform: none;
      line-height: normal;
      font-size: calcRem(14);
      cursor: pointer;
    }
    
    .sort-item {
      list-style-type: none;
      font-size: calcRem(14);
      margin: 0 calcRem(10) 0 calcRem(10);
      color: $base-text-color;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &.active, &:hover {
        color: $primary-color;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .items-container {
    display: -ms-grid;
    display: grid;
    grid-gap: calcRem(20);
    grid-auto-flow: dense;

    .no-results {
      display: block;
      font-weight: bold;
      color: #2C2A2F;
      font-size: 1.6rem;
      margin: 2rem;
    }
  }
}
