@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.learner-stat-card {
  font-size: calcRem(10);
  margin: calcRem(20) 0;
  grid-column-end: span 1;
  height: 8rem;
  width: auto;
  border: 0.5rem solid lightgray;
  background-color: white;
}

.transparent-stat-card {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 2rem;
  display: flex;
}

.stat-card {

  .info-img {
    height: auto;
    width: 1.5rem;
    align-self: flex-end;
  }
  
  .main-content {
    width: 100%;

    .main-data-container {
      display: flex;
      align-items: center;
      color: $primary-color;
      padding: calcRem(20) 0;
      margin-top: auto;
      margin-bottom: auto;
      min-height: calcRem(90);
      box-sizing: border-box;

      .current-data {
        font-weight: 900;
        font-size: calcRem(32);
        line-height: 100%;
        height: 100%;
      }

      .previous-comparison {
        font-weight: normal;
        margin-left: calcRem(15);
        padding: calcRem(5) 0 calcRem(5) calcRem(15);
        border-left: calcRem(1) solid $primary-color;
      }

      .comparison-value {
        font-weight: bold;
        font-size: calcRem(18);
        display: block;
      }

      .comparison-text {
        font-size: calcRem(12);
        display: block;
      }
    }

    .top-courses-data-container {
      display: inline;
      align-items: center;
      color: $primary-color;
      margin-top: auto;
      min-height: calcRem(90);
      box-sizing: border-box;

      .top-one-value-box {
        display: flex;
        align-items: center;
        font-weight: normal;
        padding: calcRem(5) 0 calcRem(5) calcRem(15);
      }

      .top-one-value {
        margin-right: calcRem(15);
        padding-right: calcRem(15);
        font-weight: 900;
        font-size: calcRem(32);
        line-height: 100%;
        height: 100%;
        border-right: calcRem(1) solid $primary-color;
      }

      .top-value-box {
        display: flex;
        align-items: center;
        font-weight: normal;
        padding: calcRem(5) 0 calcRem(5) calcRem(15);
      }

      .top-value {
        margin-right: calcRem(15);
        padding-right: calcRem(15);
        font-weight: bold;
        font-size: calcRem(18);
      }

      .top-course-name {
        font-size: calcRem(12);
      }
      
      .top-course-link, .top-course-link:hover, .top-course-link:focus {
        color: $primary-color;
        text-decoration: none;
      }
      .top-course-link:hover, .top-course-link:focus {
        text-decoration: underline !important;
      }
    }

    .image-container {
      margin: auto;
      
      .card-img {
        height: 8rem;
      }
    }

    .history-toggle {
      // override those pesky LMS styles
      background: none;
      text-shadow: none;
      font: inherit;
      text-transform: none;
      letter-spacing: normal;
      //
      color: lighten($base-text-color, 50%);
      font-size: calcRem(14);
      font-weight: bold;
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
      padding: 0;
      text-align: left;

      &:hover {
        color: $primary-color;
      }
    }

    .history-toggle-faux {
      height: calcRem(19);
    }
  }

  .history-content {
    flex-shrink: 1;
    flex-grow: 1;
  }
}
