@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.header-report {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-flow: dense;
  padding: 2rem;

  .report-box {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .download-btn {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
      text-align: center;
      padding: 1rem;
      border: 0.2rem solid #0090c1;
      background-color: white;
      border-radius: 5rem;
      color: #0090c1;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  
    .report-link {
      display: block;
      font-weight: bold;
      color: #2C2A2F;
      font-size: 1.3rem;
      margin: 0 0 1rem;
    }
    .report-link:hover {
      color: #0090c1;
    }
  
    .report-info {
      display: block;
      color: #2C2A2F;
      font-size: 0.9rem;
      margin: 1rem 0 1rem;
    }
  }
}

