@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.header {
    display: flex;
    margin: calcRem(10) 0;
    grid-column-end: span 4;
  }

  .header-title {
    font-weight: bold;
    font-size: calcRem(22);
    padding-left: calcRem(20);
    line-height: 100%;

  .download-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2rem;
    padding: 1rem;
    border: 0.2rem solid #0090c1;
    background-color: white;
    border-radius: 5rem;
    color: #0090c1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.refresh-img {
  width: 2.4rem;
  padding-left: 1rem;
  cursor: pointer;
}