@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';
@import '~base/sass/base/stat-cards';

.header {
    margin: calcRem(10) 0;
    grid-column-end: span 4;
  }

  .header-title {
    font-weight: bold;
    font-size: calcRem(22);
    padding-left: calcRem(20);
    line-height: 100%;
  }

.refresh-img {
  width: 2.4rem;
  padding-left: 1rem;
  cursor: pointer;
}

.report-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .download-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    border: 0.2rem solid #0090c1;
    border-radius: 5rem;
    color: #0090c1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .report-link {
    display: block;
    font-weight: bold;
    color: #2C2A2F;
    font-size: 1.3rem;
    margin: 0 0 1rem;
  }
}