@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.header-content-course {
  margin: calcRem(30) auto;

  .main-content {
    text-align: center;
  }

  .course-title {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: calcRem(22);
    font-weight: bold;
    line-height: 100%;
  }
  
  .course-id {
    font-size: calcRem(12);
    margin-bottom: calcRem(15);
  }

  .course-likes {
    font-size: calcRem(14);
    font-weight: 600;
  }

  .course-codes {
    font-size: calcRem(14);
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
    vertical-align: middle;
    display: inline-flex;
  }

  .info-img {
    height: auto;
    width: 1.5rem;
    align-self: flex-end;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .course-info {
    display: block;
    font-size: calcRem(14);
    font-weight: 600;
    margin-bottom: calcRem(5);
    line-height: 130%;
    text-align: left;

    .course-code {
      font-weight: 900;
    }

    .course-info-separator {
      margin-left: calcRem(10);
      margin-right: calcRem(10);
    }
  }
  .course-tma-info-left {
    display: inline-block;
    width: 75%;
    font-size: calcRem(14);
    font-weight: 600;
    margin-bottom: calcRem(5);
    line-height: 130%;
    text-align: left;

    .course-code {
      font-weight: 900;
    }

    .course-info-separator {
      margin-left: calcRem(10);
      margin-right: calcRem(10);
    }

    .course-date {
      display: block;
    }
  }

  /*
  .course-tma-info-tooltip {
    display: none;
    width: 20rem;
    height: auto;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 1rem;
    line-height: 130%;
    text-align: left;
    position: absolute;
    background-color: rgba(128,128,128,0.6);
    
    .course-code {
      font-weight: 900;
    }

    .course-info-separator {
      margin-left: calcRem(10);
      margin-right: calcRem(10);
    }

    .course-date {
      display: block;
    }
  }
*/

  .learners-info {
    font-size: calcRem(12);
  }

  .text-separator {
    display: block;
    width: calcRem(100);
    height: calcRem(2);
    background-color: pick-visible-color($primary-color, #fff, $base-text-color);
    margin: calcRem(20) auto;
  }

  .graph-bottom-padding {
    display: block;
    width: 100%;
    height: calcRem(50);
  }
}

.graph-labels-wrapper {
  background: #fff;
}
.graph-labels-container {
  padding-top: calcRem(10);

  :global(.recharts-wrapper .recharts-cartesian-axis-tick text) {
    font-size: calcRem(14);
    fill: $primary-color;
  }
}

.x-axis-tick {
  transform: rotate(90);
}

.bar-tooltip {
  position: relative;
  left: calcRem(-60);
  background-color: $base-text-color;
  color: #fff;
  width: calcRem(100);
  border-radius: calcRem(5);
  padding: calcRem(10);
  text-align: center;

  &:after {
    top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(136, 183, 213, 0);
  	border-top-color: $base-text-color;
  	border-width: calcRem(10);
  	margin-left: calcRem(-10);
  }

  .tooltip-value {
    font-size: calcRem(14);
    font-weight: bold;
  }

  p {
    margin: 0;
    font-size: calcRem(10);
  }
}
